<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.mybatis.appTest.mapper.EvModelMapper" >
  <resultMap id="BaseResultMap" type="com.sunny.mybatis.appTest.model.EvModel" >
    <!-- Don't change -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sale_name" property="saleName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="cxgg_no" property="cxggNo" jdbcType="VARCHAR" />
    <result column="report_no" property="reportNo" jdbcType="VARCHAR" />
    <result column="cxgg_batch_no" property="cxggBatchNo" jdbcType="VARCHAR" />
    <result column="tbox_suit" property="tboxSuit" jdbcType="INTEGER" />
    <result column="power_type" property="powerType" jdbcType="TINYINT" />
    <result column="vehicle_type" property="vehicleType" jdbcType="TINYINT" />
    <result column="gear_box_type" property="gearBoxType" jdbcType="TINYINT" />
    <result column="charge_mode" property="chargeMode" jdbcType="VARCHAR" />
    <result column="power_device_place" property="powerDevicePlace" jdbcType="VARCHAR" />
    <result column="charger" property="charger" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="power_device_id" property="powerDeviceId" jdbcType="BIGINT" />
    <result column="drive_motor_id" property="driveMotorId" jdbcType="BIGINT" />
    <result column="electric_endurance" property="electricEndurance" jdbcType="INTEGER" />
    <result column="uniform_speed_endurance" property="uniformSpeedEndurance" jdbcType="INTEGER" />
    <result column="guarantee_mileage" property="guaranteeMileage" jdbcType="INTEGER" />
    <result column="guarantee_year" property="guaranteeYear" jdbcType="INTEGER" />
    <result column="carrier_count" property="carrierCount" jdbcType="INTEGER" />
    <result column="total_weight" property="totalWeight" jdbcType="INTEGER" />
    <result column="curb_weight" property="curbWeight" jdbcType="INTEGER" />
    <result column="max_speed" property="maxSpeed" jdbcType="INTEGER" />
    <result column="transmit_ratio" property="transmitRatio" jdbcType="DECIMAL" />
    <result column="energy_recovery_type" property="energyRecoveryType" jdbcType="TINYINT" />
    <result column="listing_time" property="listingTime" jdbcType="DATE" />
    <result column="size_length" property="sizeLength" jdbcType="INTEGER" />
    <result column="size_width" property="sizeWidth" jdbcType="INTEGER" />
    <result column="size_height" property="sizeHeight" jdbcType="INTEGER" />
    <result column="wheel_base" property="wheelBase" jdbcType="INTEGER" />
    <result column="hundred_km_acceleration" property="hundredKmAcceleration" jdbcType="INTEGER" />
    <result column="hundred_km_powerconsump" property="hundredKmPowerconsump" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!-- Don't change -->
    id, name, sale_name, brand_id, cxgg_no, report_no, cxgg_batch_no, tbox_suit, power_type, 
    vehicle_type, gear_box_type, charge_mode, power_device_place, charger, company_id, 
    power_device_id, drive_motor_id, electric_endurance, uniform_speed_endurance, guarantee_mileage, 
    guarantee_year, carrier_count, total_weight, curb_weight, max_speed, transmit_ratio, 
    energy_recovery_type, listing_time, size_length, size_width, size_height, wheel_base, 
    hundred_km_acceleration, hundred_km_powerconsump, status, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!-- Don't change -->
    select 
    <include refid="Base_Column_List" />
    from ev_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!-- Don't change -->
    delete from ev_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunny.mybatis.appTest.model.EvModel" >
    <!-- Don't change -->
    insert into ev_model (id, name, sale_name, 
      brand_id, cxgg_no, report_no, 
      cxgg_batch_no, tbox_suit, power_type, 
      vehicle_type, gear_box_type, charge_mode, 
      power_device_place, charger, company_id, 
      power_device_id, drive_motor_id, electric_endurance, 
      uniform_speed_endurance, guarantee_mileage, 
      guarantee_year, carrier_count, total_weight, 
      curb_weight, max_speed, transmit_ratio, 
      energy_recovery_type, listing_time, size_length, 
      size_width, size_height, wheel_base, 
      hundred_km_acceleration, hundred_km_powerconsump, 
      status, add_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{saleName,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=BIGINT}, #{cxggNo,jdbcType=VARCHAR}, #{reportNo,jdbcType=VARCHAR}, 
      #{cxggBatchNo,jdbcType=VARCHAR}, #{tboxSuit,jdbcType=INTEGER}, #{powerType,jdbcType=TINYINT}, 
      #{vehicleType,jdbcType=TINYINT}, #{gearBoxType,jdbcType=TINYINT}, #{chargeMode,jdbcType=VARCHAR}, 
      #{powerDevicePlace,jdbcType=VARCHAR}, #{charger,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, 
      #{powerDeviceId,jdbcType=BIGINT}, #{driveMotorId,jdbcType=BIGINT}, #{electricEndurance,jdbcType=INTEGER}, 
      #{uniformSpeedEndurance,jdbcType=INTEGER}, #{guaranteeMileage,jdbcType=INTEGER}, 
      #{guaranteeYear,jdbcType=INTEGER}, #{carrierCount,jdbcType=INTEGER}, #{totalWeight,jdbcType=INTEGER}, 
      #{curbWeight,jdbcType=INTEGER}, #{maxSpeed,jdbcType=INTEGER}, #{transmitRatio,jdbcType=DECIMAL}, 
      #{energyRecoveryType,jdbcType=TINYINT}, #{listingTime,jdbcType=DATE}, #{sizeLength,jdbcType=INTEGER}, 
      #{sizeWidth,jdbcType=INTEGER}, #{sizeHeight,jdbcType=INTEGER}, #{wheelBase,jdbcType=INTEGER}, 
      #{hundredKmAcceleration,jdbcType=INTEGER}, #{hundredKmPowerconsump,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.mybatis.appTest.model.EvModel" >
    <!-- Don't change -->
    insert into ev_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="saleName != null" >
        sale_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="cxggNo != null" >
        cxgg_no,
      </if>
      <if test="reportNo != null" >
        report_no,
      </if>
      <if test="cxggBatchNo != null" >
        cxgg_batch_no,
      </if>
      <if test="tboxSuit != null" >
        tbox_suit,
      </if>
      <if test="powerType != null" >
        power_type,
      </if>
      <if test="vehicleType != null" >
        vehicle_type,
      </if>
      <if test="gearBoxType != null" >
        gear_box_type,
      </if>
      <if test="chargeMode != null" >
        charge_mode,
      </if>
      <if test="powerDevicePlace != null" >
        power_device_place,
      </if>
      <if test="charger != null" >
        charger,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="powerDeviceId != null" >
        power_device_id,
      </if>
      <if test="driveMotorId != null" >
        drive_motor_id,
      </if>
      <if test="electricEndurance != null" >
        electric_endurance,
      </if>
      <if test="uniformSpeedEndurance != null" >
        uniform_speed_endurance,
      </if>
      <if test="guaranteeMileage != null" >
        guarantee_mileage,
      </if>
      <if test="guaranteeYear != null" >
        guarantee_year,
      </if>
      <if test="carrierCount != null" >
        carrier_count,
      </if>
      <if test="totalWeight != null" >
        total_weight,
      </if>
      <if test="curbWeight != null" >
        curb_weight,
      </if>
      <if test="maxSpeed != null" >
        max_speed,
      </if>
      <if test="transmitRatio != null" >
        transmit_ratio,
      </if>
      <if test="energyRecoveryType != null" >
        energy_recovery_type,
      </if>
      <if test="listingTime != null" >
        listing_time,
      </if>
      <if test="sizeLength != null" >
        size_length,
      </if>
      <if test="sizeWidth != null" >
        size_width,
      </if>
      <if test="sizeHeight != null" >
        size_height,
      </if>
      <if test="wheelBase != null" >
        wheel_base,
      </if>
      <if test="hundredKmAcceleration != null" >
        hundred_km_acceleration,
      </if>
      <if test="hundredKmPowerconsump != null" >
        hundred_km_powerconsump,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="saleName != null" >
        #{saleName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="cxggNo != null" >
        #{cxggNo,jdbcType=VARCHAR},
      </if>
      <if test="reportNo != null" >
        #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="cxggBatchNo != null" >
        #{cxggBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="tboxSuit != null" >
        #{tboxSuit,jdbcType=INTEGER},
      </if>
      <if test="powerType != null" >
        #{powerType,jdbcType=TINYINT},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=TINYINT},
      </if>
      <if test="gearBoxType != null" >
        #{gearBoxType,jdbcType=TINYINT},
      </if>
      <if test="chargeMode != null" >
        #{chargeMode,jdbcType=VARCHAR},
      </if>
      <if test="powerDevicePlace != null" >
        #{powerDevicePlace,jdbcType=VARCHAR},
      </if>
      <if test="charger != null" >
        #{charger,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="powerDeviceId != null" >
        #{powerDeviceId,jdbcType=BIGINT},
      </if>
      <if test="driveMotorId != null" >
        #{driveMotorId,jdbcType=BIGINT},
      </if>
      <if test="electricEndurance != null" >
        #{electricEndurance,jdbcType=INTEGER},
      </if>
      <if test="uniformSpeedEndurance != null" >
        #{uniformSpeedEndurance,jdbcType=INTEGER},
      </if>
      <if test="guaranteeMileage != null" >
        #{guaranteeMileage,jdbcType=INTEGER},
      </if>
      <if test="guaranteeYear != null" >
        #{guaranteeYear,jdbcType=INTEGER},
      </if>
      <if test="carrierCount != null" >
        #{carrierCount,jdbcType=INTEGER},
      </if>
      <if test="totalWeight != null" >
        #{totalWeight,jdbcType=INTEGER},
      </if>
      <if test="curbWeight != null" >
        #{curbWeight,jdbcType=INTEGER},
      </if>
      <if test="maxSpeed != null" >
        #{maxSpeed,jdbcType=INTEGER},
      </if>
      <if test="transmitRatio != null" >
        #{transmitRatio,jdbcType=DECIMAL},
      </if>
      <if test="energyRecoveryType != null" >
        #{energyRecoveryType,jdbcType=TINYINT},
      </if>
      <if test="listingTime != null" >
        #{listingTime,jdbcType=DATE},
      </if>
      <if test="sizeLength != null" >
        #{sizeLength,jdbcType=INTEGER},
      </if>
      <if test="sizeWidth != null" >
        #{sizeWidth,jdbcType=INTEGER},
      </if>
      <if test="sizeHeight != null" >
        #{sizeHeight,jdbcType=INTEGER},
      </if>
      <if test="wheelBase != null" >
        #{wheelBase,jdbcType=INTEGER},
      </if>
      <if test="hundredKmAcceleration != null" >
        #{hundredKmAcceleration,jdbcType=INTEGER},
      </if>
      <if test="hundredKmPowerconsump != null" >
        #{hundredKmPowerconsump,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.mybatis.appTest.model.EvModel" >
    <!-- Don't change -->
    update ev_model
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="saleName != null" >
        sale_name = #{saleName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="cxggNo != null" >
        cxgg_no = #{cxggNo,jdbcType=VARCHAR},
      </if>
      <if test="reportNo != null" >
        report_no = #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="cxggBatchNo != null" >
        cxgg_batch_no = #{cxggBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="tboxSuit != null" >
        tbox_suit = #{tboxSuit,jdbcType=INTEGER},
      </if>
      <if test="powerType != null" >
        power_type = #{powerType,jdbcType=TINYINT},
      </if>
      <if test="vehicleType != null" >
        vehicle_type = #{vehicleType,jdbcType=TINYINT},
      </if>
      <if test="gearBoxType != null" >
        gear_box_type = #{gearBoxType,jdbcType=TINYINT},
      </if>
      <if test="chargeMode != null" >
        charge_mode = #{chargeMode,jdbcType=VARCHAR},
      </if>
      <if test="powerDevicePlace != null" >
        power_device_place = #{powerDevicePlace,jdbcType=VARCHAR},
      </if>
      <if test="charger != null" >
        charger = #{charger,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="powerDeviceId != null" >
        power_device_id = #{powerDeviceId,jdbcType=BIGINT},
      </if>
      <if test="driveMotorId != null" >
        drive_motor_id = #{driveMotorId,jdbcType=BIGINT},
      </if>
      <if test="electricEndurance != null" >
        electric_endurance = #{electricEndurance,jdbcType=INTEGER},
      </if>
      <if test="uniformSpeedEndurance != null" >
        uniform_speed_endurance = #{uniformSpeedEndurance,jdbcType=INTEGER},
      </if>
      <if test="guaranteeMileage != null" >
        guarantee_mileage = #{guaranteeMileage,jdbcType=INTEGER},
      </if>
      <if test="guaranteeYear != null" >
        guarantee_year = #{guaranteeYear,jdbcType=INTEGER},
      </if>
      <if test="carrierCount != null" >
        carrier_count = #{carrierCount,jdbcType=INTEGER},
      </if>
      <if test="totalWeight != null" >
        total_weight = #{totalWeight,jdbcType=INTEGER},
      </if>
      <if test="curbWeight != null" >
        curb_weight = #{curbWeight,jdbcType=INTEGER},
      </if>
      <if test="maxSpeed != null" >
        max_speed = #{maxSpeed,jdbcType=INTEGER},
      </if>
      <if test="transmitRatio != null" >
        transmit_ratio = #{transmitRatio,jdbcType=DECIMAL},
      </if>
      <if test="energyRecoveryType != null" >
        energy_recovery_type = #{energyRecoveryType,jdbcType=TINYINT},
      </if>
      <if test="listingTime != null" >
        listing_time = #{listingTime,jdbcType=DATE},
      </if>
      <if test="sizeLength != null" >
        size_length = #{sizeLength,jdbcType=INTEGER},
      </if>
      <if test="sizeWidth != null" >
        size_width = #{sizeWidth,jdbcType=INTEGER},
      </if>
      <if test="sizeHeight != null" >
        size_height = #{sizeHeight,jdbcType=INTEGER},
      </if>
      <if test="wheelBase != null" >
        wheel_base = #{wheelBase,jdbcType=INTEGER},
      </if>
      <if test="hundredKmAcceleration != null" >
        hundred_km_acceleration = #{hundredKmAcceleration,jdbcType=INTEGER},
      </if>
      <if test="hundredKmPowerconsump != null" >
        hundred_km_powerconsump = #{hundredKmPowerconsump,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.mybatis.appTest.model.EvModel" >
    <!-- Don't change -->
    update ev_model
    set name = #{name,jdbcType=VARCHAR},
      sale_name = #{saleName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      cxgg_no = #{cxggNo,jdbcType=VARCHAR},
      report_no = #{reportNo,jdbcType=VARCHAR},
      cxgg_batch_no = #{cxggBatchNo,jdbcType=VARCHAR},
      tbox_suit = #{tboxSuit,jdbcType=INTEGER},
      power_type = #{powerType,jdbcType=TINYINT},
      vehicle_type = #{vehicleType,jdbcType=TINYINT},
      gear_box_type = #{gearBoxType,jdbcType=TINYINT},
      charge_mode = #{chargeMode,jdbcType=VARCHAR},
      power_device_place = #{powerDevicePlace,jdbcType=VARCHAR},
      charger = #{charger,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      power_device_id = #{powerDeviceId,jdbcType=BIGINT},
      drive_motor_id = #{driveMotorId,jdbcType=BIGINT},
      electric_endurance = #{electricEndurance,jdbcType=INTEGER},
      uniform_speed_endurance = #{uniformSpeedEndurance,jdbcType=INTEGER},
      guarantee_mileage = #{guaranteeMileage,jdbcType=INTEGER},
      guarantee_year = #{guaranteeYear,jdbcType=INTEGER},
      carrier_count = #{carrierCount,jdbcType=INTEGER},
      total_weight = #{totalWeight,jdbcType=INTEGER},
      curb_weight = #{curbWeight,jdbcType=INTEGER},
      max_speed = #{maxSpeed,jdbcType=INTEGER},
      transmit_ratio = #{transmitRatio,jdbcType=DECIMAL},
      energy_recovery_type = #{energyRecoveryType,jdbcType=TINYINT},
      listing_time = #{listingTime,jdbcType=DATE},
      size_length = #{sizeLength,jdbcType=INTEGER},
      size_width = #{sizeWidth,jdbcType=INTEGER},
      size_height = #{sizeHeight,jdbcType=INTEGER},
      wheel_base = #{wheelBase,jdbcType=INTEGER},
      hundred_km_acceleration = #{hundredKmAcceleration,jdbcType=INTEGER},
      hundred_km_powerconsump = #{hundredKmPowerconsump,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>